html {
  background-color: black;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jeopardyGridContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridItem {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  color: gold;
  text-align: center;
  position: relative;
  background-color: blue;
}

.gridTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.cardText {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.dim {
  opacity: 0.5;
}

.gridGroup {
  display: inline-block;
}

.groupTitle {
  color: white;
  height: 100px;
  width: 300px;
  background-color: blue;
  margin-left: 1px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.modalWrapper {
  height: 100%;
  width: 100%;
}